In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("datasets/movietrasnf2.csv")

In [3]:
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,cast,director_name
0,Toy Story Collection,30000000,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,['English'],Released,NaN,Toy Story,7.7,5415.0,1995.0,12.451801,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",John Lasseter
1,NaN,65000000,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",Joe Johnston
2,Grumpy Old Men Collection,0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,...,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",Howard Deutch
3,NaN,16000000,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,...,['English'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.090760,"['Whitney Houston', 'Angela Bassett', 'Loretta...",Forest Whitaker
4,Father of the Bride Collection,0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,...,['English'],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.000000,"['Steve Martin', 'Diane Keaton', 'Martin Short...",Charles Shyer

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45539 entries, 0 to 45538
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4500 non-null   object
 1   budget                 45539 non-null  int64
 2   genres                 45539 non-null  object
 3   id                     45539 non-null  int64
 4   original_language      45528 non-null  object
 5   overview               44585 non-null  object
 6   popularity             45536 non-null  float64
 7   production_companies   45539 non-null  object
 8   production_countries   45539 non-null  object
 9   release_date           45452 non-null  object
 10  revenue                45539 non-null  float64
 11  runtime                45279 non-null  float64
 12  spoken_languages       45539 non-null  object
 13  status                 45455 non-null  object
 14  tagline                20439 non-null  object
 15  title                  45536 non-null  object
 16  vote_average           45536 non-null  float64
 17  vote_count             45536 non-null  float64
 18  release_year           45452 non-null  float64
 19  return                 45539 non-null  float64
 20  cast                   45538 non-null  object
 21  director_name          44651 non-null  object
dtypes: float64(7), int64(2), object(13)
memory usage: 7.6+ MB

In [5]:
df['release_date']=pd.to_datetime(df['release_date'],errors='coerce')

def peliculas_mes(mes): '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes (nombre del mes, en str, ejemplo 'enero') historicamente''' return {'mes':mes, 'cantidad':respuesta}

In [6]:
def count_movies_by_month(mes):
    df = pd.read_csv("datasets/moviestrasnf.csv")
    meses = {"enero": 1 ,"febrero": 2 ,"marzo": 3 ,"abril": 4 ,"mayo": 5 ,"junio": 6 ,"julio": 7 ,"agosto": 8 ,"septiembre": 9 ,"octubre": 10 ,"noviembre": 11 ,"diciembre": 12 }
    if mes not in meses:
        return "Invalid month"
    lect = meses[mes]
    df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
    cuenta =(df['release_date'].dt.month == lect).value_counts()[True]
    return {'mes': mes, 'cantidad': cuenta}

In [7]:
count_movies_by_month("enero")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\2051371217.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv")

{'mes': 'enero', 'cantidad': 5912}

def peliculas_dia(dia): '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrenaron ese dia (de la semana, en str, ejemplo 'lunes') historicamente''' return {'dia':dia, 'cantidad':respuesta}

In [8]:
def peliculas_dias(weekday: str):
    '''Se ingresa el día y la función retorna la cantidad de películas que se estrenaron ese día históricamente'''
    # Diccionario de equivalencias de días de la semana en inglés y español
    ndia=weekday
    dias_semana = {
        'lunes': 'Monday',
        'martes': 'Tuesday',
        'miércoles': 'Wednesday',
        'jueves': 'Thursday',
        'viernes': 'Friday',
        'sábado': 'Saturday',
        'domingo': 'Sunday'
    }
    # Verificar si se ingresó un día en español y obtener su equivalente en inglés
    if weekday.lower() in dias_semana:
        weekday = dias_semana[weekday.lower()]
    
    # Cargar el dataset
    df = pd.read_csv("datasets/moviestrasnf.csv")
    # Convertir la columna release_date a un objeto datetime
    df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
    # Filtrar las filas que no tienen un valor nulo en la columna release_date
    df = df[df['release_date'].notnull()]
    # Obtener el nombre del día de la semana para cada fecha en la columna release_date
    df['weekday'] = df['release_date'].dt.day_name()
    # Filtrar por el nombre del día de la semana buscado y contar la cantidad de películas
    count = len(df[df['weekday'].str.lower() == weekday.lower()])
    # Retornar el resultado en un diccionario con el formato {'dia': weekday, 'cantidad': count}
    return {'dia': str(ndia), 'cantidad': int(count)}

In [9]:
peliculas_dias("jueves")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\2599078116.py:19: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv")

{'dia': 'jueves', 'cantidad': 7525}

def franquicia(franquicia): '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio''' return {'franquicia':franquicia, 'cantidad':respuesta, 'ganancia_total':respuesta, 'ganancia_promedio':respuesta}

In [10]:
def franquicia_info(franquicia):
    # filtra las filas que corresponden a la franquicia de entrada y no son NaN
    df = pd.read_csv("datasets/moviestrasnf.csv")
    franquicia_df = df[(df['belongs_to_collection'].notna()) & (df['belongs_to_collection'].str.contains(franquicia))]
    
    # si no hay filas correspondientes a la franquicia, retorna un mensaje
    if franquicia_df.empty:
        return "No se encontró la franquicia."
    
    # cuenta la cantidad de filas y suma los ingresos de la franquicia
    cantidad = franquicia_df.shape[0]
    ganancia_total = franquicia_df['revenue'].sum()
    ganancia_promedio = ganancia_total / cantidad
    
    return {'franquicia':franquicia, 'cantidad':cantidad, 'ganancia_total':ganancia_total, 'ganancia_promedio':ganancia_promedio}

In [11]:
franquicia_info("Batman")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\3788409547.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv")

{'franquicia': 'Batman',
 'cantidad': 19,
 'ganancia_total': 1271702581.0,
 'ganancia_promedio': 66931714.78947368}

def peliculas_pais(pais): '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo''' return {'pais':pais, 'cantidad':respuesta}

In [12]:
def contar_pais(pais):
    df = pd.read_csv("datasets/moviestrasnf.csv")
    df = df[df["production_countries"].notna()] # Filtrar solo filas que tengan valores en la columna "production_countries"
    count = df["production_countries"].apply(lambda x: pais in str(x)).sum() # Contar la cantidad de veces que aparece el país en la columna "production_countries"
    return {"pais": pais, "cantidad": count}

In [13]:
contar_pais("Spain")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\1614741894.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv")

{'pais': 'Spain', 'cantidad': 964}

def productoras(productora): '''Ingresas la productora, retornando la ganancia total y la cantidad de peliculas que produjeron''' return {'productora':productora, 'ganancia_total':respuesta, 'cantidad':respuesta}

In [14]:
def productoras(productora):
    # filtra las filas que corresponden a la franquicia de entrada y no son NaN
    df = pd.read_csv("datasets/moviestrasnf.csv")
    productora_df = df[(df['production_companies'].notna()) & (df['production_companies'].str.contains(productora))]
    
    # si no hay filas correspondientes a la franquicia, retorna un mensaje
    if productora_df.empty:
        return "No se encontró la productora."
    
    # cuenta la cantidad de filas y suma los ingresos de la franquicia
    cantidad = productora_df.shape[0]
    ganancia_total = productora_df['revenue'].sum()
    return {'franquicia':productora, 'ganancia_total':ganancia_total, 'cantidad':cantidad}

In [15]:
productoras("Pixar")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\2134190302.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv")

{'franquicia': 'Pixar', 'ganancia_total': 11188533734.0, 'cantidad': 52}

def retorno(pelicula): '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo''' return {'pelicula':pelicula, 'inversion':respuesta, 'ganacia':respuesta,'retorno':respuesta, 'anio':respuesta}

In [16]:
def retorno(pelicula):
    df = pd.read_csv("datasets/moviestrasnf.csv", na_values=["", "NaN", "NA"], dtype={"title": str})
    df["title"] = df["title"].fillna("") 
    df = df[df["title"].str.contains(pelicula, case=False)] 
    if df.empty: 
        return None
    else:
        pelicula = df.iloc[0]["title"]
        inversion = df.iloc[0]["budget"]
        ganancia = df.iloc[0]["revenue"]
        retorno = df.iloc[0]["return"]
        anio = df.iloc[0]["release_year"]
        return {'pelicula':pelicula, 'inversion':inversion, 'ganancia':ganancia,'retorno':retorno, 'anio':anio}

In [17]:
retorno("Batman")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\2690033502.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv", na_values=["", "NaN", "NA"], dtype={"title": str})

{'pelicula': 'Batman Forever',
 'inversion': '100000000',
 'ganancia': 336529144.0,
 'retorno': 3.36529144,
 'anio': 1995.0}

In [18]:
retorno("Toy story")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\2690033502.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv", na_values=["", "NaN", "NA"], dtype={"title": str})

{'pelicula': 'Toy Story',
 'inversion': '30000000',
 'ganancia': 373554033.0,
 'retorno': 12.4518011,
 'anio': 1995.0}

In [19]:
retorno("star wars")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\2690033502.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv", na_values=["", "NaN", "NA"], dtype={"title": str})

{'pelicula': 'Star Wars',
 'inversion': '11000000',
 'ganancia': 775398007.0,
 'retorno': 70.49072790909091,
 'anio': 1977.0}

def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.
                    Ejemplo de retorno: La película X fue estrenada en el año X con un score/popularidad de X

In [20]:
def score_titulo(pelicula):
    df = pd.read_csv("datasets/moviestrasnf.csv", na_values=["", "NaN", "NA"], dtype={"title": str})
    df["title"] = df["title"].fillna("") 
    df = df[df["title"].str.contains(pelicula, case=False)] 
    if df.empty: 
        return None
    else:
        pelicula = df.iloc[0]["title"]
        anio = df.iloc[0]["release_year"]
        vote_average = df['vote_average'].values[0]
        popularity = df['popularity'].values[0]
        score_pop = vote_average / popularity
        return {'La película':pelicula, 'fue estrenada en el año':anio, 'con un score/popularidad':score_pop}

In [34]:
score_titulo("Fifty Shades")

C:\Users\david\AppData\Local\Temp\ipykernel_20928\4083220514.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/moviestrasnf.csv", na_values=["", "NaN", "NA"], dtype={"title": str})

{'La película': 'Fifty Shades of Grey',
 'fue estrenada en el año': 2015.0,
 'con un score/popularidad': 0.15724967416809102}

def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.
                    Ejemplo de retorno: La película X fue estrenada en el año X. La misma cuenta con un total de X valoraciones, con un promedio de X

In [22]:
def votos_titulo(pelicula):
    df = pd.read_csv("datasets/movietrasnf2.csv", na_values=["", "NaN", "NA"], dtype={"title": str})
    df["title"] = df["title"].fillna("") 
    df = df[df["title"].str.contains(pelicula, case=False)] 
    if df.empty: 
        return None
    else:
        pelicula = df.iloc[0]["title"]
        votos = df.iloc[0]["vote_count"]
        vote_average = df.iloc[0]["vote_average"]
        anio = df.iloc[0]["release_year"]
        if votos < 2000:
            return {'la pelicula':pelicula, 'no posee más de 2000 votaciones solo tiene':votos}
        return {'la pelicula':pelicula, 'fue estrenada en el año':anio ,'resivió':votos, ' votos, teniendo una votación promedio de ':vote_average}

In [23]:
votos_titulo("Pirates")

{'la pelicula': 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'fue estrenada en el año': 2003.0,
 'resivió': 7191.0,
 ' votos, teniendo una votación promedio de ': 7.5}

def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.
                    Ejemplo de retorno: El actor X ha participado de X cantidad de filmaciones, el mismo ha conseguido un retorno de X con un promedio de X por filmación

In [35]:
def get_actor(nombre_actor):
    # filtra las filas que corresponden a la franquicia de entrada y no son NaN
    df = pd.read_csv("datasets/movietrasnf2.csv")
    actor_df = df[(df['cast'].notna()) & (df['cast'].str.contains(nombre_actor))]
    
    # si no hay filas correspondientes a la franquicia, retorna un mensaje
    if actor_df.empty:
        return {'No se encontró la actor con el nombre':str(nombre_actor)}
    
    # cuenta la cantidad de filas y suma los ingresos de la franquicia
    cantidad = actor_df.shape[0]
    ganancia_total = actor_df['revenue'].sum()
    gpromedio= ganancia_total/cantidad
    return {'el actor':nombre_actor, 'ha participado en ':cantidad,'peliculas, teniendo como retorno pomedio por pelicula de':gpromedio, 'y una ganancia total de':ganancia_total}

In [36]:
get_actor("Johnny Depp")

{'el actor': 'Johnny Depp',
 'ha participado en ': 69,
 'peliculas, teniendo como retorno pomedio por pelicula de': 154402328.13043478,
 'y una ganancia total de': 10653760641.0}

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

In [26]:
def get_director(nombre_director):
    director_movies = df[df['director_name'] == nombre_director]
    total_return = director_movies['return'].sum()
    movie_info = director_movies[['title', 'release_date', 'return', 'budget', 'revenue']]
    return {
        'Director': nombre_director,
        'Ganancia Total': total_return,
        'Peliculas': movie_info
    }

In [27]:
def get_director2(nombre_director):
    director_movies = df[df['director_name'] == nombre_director]
    total_return = director_movies['return'].sum()
    movie_info = director_movies[['title', 'release_date', 'return', 'budget', 'revenue']]
    movies = []
    for _, row in movie_info.iterrows():
        movie = {
            'pelicula': row['title'],
            'anio': row['release_date'].year,
            'retorno_pelicula': row['return'],
            'budget_pelicula': row['budget'],
            'revenue_pelicula': row['revenue']
        }
        movies.append(movie)

    return {
        'director': nombre_director,
        'retorno_total_director': total_return,
        'peliculas': movies
    }

In [28]:
get_director( "Steven Spielberg" )

{'Director': 'Steven Spielberg',
 'Ganancia Total': 309.9980864877447,
 'Peliculas':                                                    title release_date  \
 475                                        Jurassic Park   1993-06-11
 522                                     Schindler's List   1993-11-29
 1068                          E.T. the Extra-Terrestrial   1982-04-03
 1159                             Raiders of the Lost Ark   1981-06-12
 1249                  Indiana Jones and the Last Crusade   1989-05-24
 1341                                                Jaws   1975-06-18
 1478                       The Lost World: Jurassic Park   1997-05-23
 1618                                             Amistad   1997-12-03
 1923                                 Saving Private Ryan   1998-07-24
 2010                Indiana Jones and the Temple of Doom   1984-05-23
 2629                                    The Color Purple   1985-12-18
 3356                  Close Encounters of the Third Kind   1977-11-16
 3373                                                Hook   1991-12-11
 3621                               The Sugarland Express   1974-04-05
 3982                                   Empire of the Sun   1987-12-09
 4248                        A.I. Artificial Intelligence   2001-06-29
 4443                                              Always   1989-12-22
 5319                                     Minority Report   2002-06-20
 5861                                 Catch Me If You Can   2002-12-25
 6963                                                1941   1979-12-13
 7842                                        The Terminal   2004-06-17
 8683                                                Duel   1972-10-01
 8848                            Twilight Zone: The Movie   1983-06-24
 10193                                  War of the Worlds   2005-06-28
 10658                                             Munich   2005-12-22
 12645  Indiana Jones and the Kingdom of the Crystal S...   2008-05-21
 18105                           The Adventures of Tintin   2011-10-25
 18191                                          War Horse   2011-12-25
 19834                                            Lincoln   2012-11-09
 23168                                      Night Gallery   1969-04-03
 33434                                    Bridge of Spies   2015-10-15
 38802                                            The BFG   2016-06-01
 40319                                     Something Evil   1972-01-21

           return     budget      revenue
 475    14.604762   63000000  920100000.0
 522    14.607526   22000000  321365567.0
 1068   75.520507   10500000  792965326.0
 1159   21.662554   18000000  389925971.0
 1249    9.878579   48000000  474171806.0
 1341   67.236286    7000000  470654000.0
 1478    3.138007   73000000  229074524.0
 1618    2.055556   36000000   74000000.0
 1923    6.883442   70000000  481840909.0
 2010   11.892857   28000000  333000000.0
 2629    9.752801   15000000  146292009.0
 3356   15.189432   20000000  303788635.0
 3373    4.297926   70000000  300854823.0
 3621    4.266667    3000000   12800000.0
 3982    0.635391   35000000   22238696.0
 4248    2.359266  100000000  235926552.0
 4443    2.391445   31000000   74134790.0
 5319    3.513460  102000000  358372926.0
 5861    6.771429   52000000  352114312.0
 6963    0.907307   35000000   31755742.0
 7842    3.656954   60000000  219417255.0
 8683    0.000000     450000          0.0
 8848    2.945092   10000000   29450919.0
 10193   4.482874  132000000  591739379.0
 10658   1.862270   70000000  130358911.0
 12645   4.252087  185000000  786636033.0
 18105   2.861077  130000000  371940071.0
 18191   2.690680   66000000  177584879.0
 19834   4.235284   65000000  275293450.0
 23168   0.000000          0          0.0
 33434   4.136959   40000000  165478348.0
 38802   1.309611  140000000  183345589.0
 40319   0.000000          0          0.0  }

In [29]:
get_director2( "Steven Spielberg" )

{'director': 'Steven Spielberg',
 'retorno_total_director': 309.9980864877447,
 'peliculas': [{'pelicula': 'Jurassic Park',
   'anio': 1993,
   'retorno_pelicula': 14.604761904761904,
   'budget_pelicula': 63000000,
   'revenue_pelicula': 920100000.0},
  {'pelicula': "Schindler's List",
   'anio': 1993,
   'retorno_pelicula': 14.607525772727271,
   'budget_pelicula': 22000000,
   'revenue_pelicula': 321365567.0},
  {'pelicula': 'E.T. the Extra-Terrestrial',
   'anio': 1982,
   'retorno_pelicula': 75.52050723809523,
   'budget_pelicula': 10500000,
   'revenue_pelicula': 792965326.0},
  {'pelicula': 'Raiders of the Lost Ark',
   'anio': 1981,
   'retorno_pelicula': 21.662553944444443,
   'budget_pelicula': 18000000,
   'revenue_pelicula': 389925971.0},
  {'pelicula': 'Indiana Jones and the Last Crusade',
   'anio': 1989,
   'retorno_pelicula': 9.878579291666666,
   'budget_pelicula': 48000000,
   'revenue_pelicula': 474171806.0},
  {'pelicula': 'Jaws',
   'anio': 1975,
   'retorno_pelicula': 67.23628571428571,
   'budget_pelicula': 7000000,
   'revenue_pelicula': 470654000.0},
  {'pelicula': 'The Lost World: Jurassic Park',
   'anio': 1997,
   'retorno_pelicula': 3.138007178082192,
   'budget_pelicula': 73000000,
   'revenue_pelicula': 229074524.0},
  {'pelicula': 'Amistad',
   'anio': 1997,
   'retorno_pelicula': 2.055555555555556,
   'budget_pelicula': 36000000,
   'revenue_pelicula': 74000000.0},
  {'pelicula': 'Saving Private Ryan',
   'anio': 1998,
   'retorno_pelicula': 6.8834415571428575,
   'budget_pelicula': 70000000,
   'revenue_pelicula': 481840909.0},
  {'pelicula': 'Indiana Jones and the Temple of Doom',
   'anio': 1984,
   'retorno_pelicula': 11.892857142857142,
   'budget_pelicula': 28000000,
   'revenue_pelicula': 333000000.0},
  {'pelicula': 'The Color Purple',
   'anio': 1985,
   'retorno_pelicula': 9.7528006,
   'budget_pelicula': 15000000,
   'revenue_pelicula': 146292009.0},
  {'pelicula': 'Close Encounters of the Third Kind',
   'anio': 1977,
   'retorno_pelicula': 15.18943175,
   'budget_pelicula': 20000000,
   'revenue_pelicula': 303788635.0},
  {'pelicula': 'Hook',
   'anio': 1991,
   'retorno_pelicula': 4.297926042857143,
   'budget_pelicula': 70000000,
   'revenue_pelicula': 300854823.0},
  {'pelicula': 'The Sugarland Express',
   'anio': 1974,
   'retorno_pelicula': 4.266666666666667,
   'budget_pelicula': 3000000,
   'revenue_pelicula': 12800000.0},
  {'pelicula': 'Empire of the Sun',
   'anio': 1987,
   'retorno_pelicula': 0.6353913142857143,
   'budget_pelicula': 35000000,
   'revenue_pelicula': 22238696.0},
  {'pelicula': 'A.I. Artificial Intelligence',
   'anio': 2001,
   'retorno_pelicula': 2.35926552,
   'budget_pelicula': 100000000,
   'revenue_pelicula': 235926552.0},
  {'pelicula': 'Always',
   'anio': 1989,
   'retorno_pelicula': 2.3914448387096776,
   'budget_pelicula': 31000000,
   'revenue_pelicula': 74134790.0},
  {'pelicula': 'Minority Report',
   'anio': 2002,
   'retorno_pelicula': 3.5134600588235294,
   'budget_pelicula': 102000000,
   'revenue_pelicula': 358372926.0},
  {'pelicula': 'Catch Me If You Can',
   'anio': 2002,
   'retorno_pelicula': 6.771429076923077,
   'budget_pelicula': 52000000,
   'revenue_pelicula': 352114312.0},
  {'pelicula': '1941',
   'anio': 1979,
   'retorno_pelicula': 0.9073069142857144,
   'budget_pelicula': 35000000,
   'revenue_pelicula': 31755742.0},
  {'pelicula': 'The Terminal',
   'anio': 2004,
   'retorno_pelicula': 3.65695425,
   'budget_pelicula': 60000000,
   'revenue_pelicula': 219417255.0},
  {'pelicula': 'Duel',
   'anio': 1972,
   'retorno_pelicula': 0.0,
   'budget_pelicula': 450000,
   'revenue_pelicula': 0.0},
  {'pelicula': 'Twilight Zone: The Movie',
   'anio': 1983,
   'retorno_pelicula': 2.9450919,
   'budget_pelicula': 10000000,
   'revenue_pelicula': 29450919.0},
  {'pelicula': 'War of the Worlds',
   'anio': 2005,
   'retorno_pelicula': 4.482874083333333,
   'budget_pelicula': 132000000,
   'revenue_pelicula': 591739379.0},
  {'pelicula': 'Munich',
   'anio': 2005,
   'retorno_pelicula': 1.862270157142857,
   'budget_pelicula': 70000000,
   'revenue_pelicula': 130358911.0},
  {'pelicula': 'Indiana Jones and the Kingdom of the Crystal Skull',
   'anio': 2008,
   'retorno_pelicula': 4.252086664864865,
   'budget_pelicula': 185000000,
   'revenue_pelicula': 786636033.0},
  {'pelicula': 'The Adventures of Tintin',
   'anio': 2011,
   'retorno_pelicula': 2.861077469230769,
   'budget_pelicula': 130000000,
   'revenue_pelicula': 371940071.0},
  {'pelicula': 'War Horse',
   'anio': 2011,
   'retorno_pelicula': 2.690679984848485,
   'budget_pelicula': 66000000,
   'revenue_pelicula': 177584879.0},
  {'pelicula': 'Lincoln',
   'anio': 2012,
   'retorno_pelicula': 4.235283846153847,
   'budget_pelicula': 65000000,
   'revenue_pelicula': 275293450.0},
  {'pelicula': 'Night Gallery',
   'anio': 1969,
   'retorno_pelicula': 0.0,
   'budget_pelicula': 0,
   'revenue_pelicula': 0.0},
  {'pelicula': 'Bridge of Spies',
   'anio': 2015,
   'retorno_pelicula': 4.1369587,
   'budget_pelicula': 40000000,
   'revenue_pelicula': 165478348.0},
  {'pelicula': 'The BFG',
   'anio': 2016,
   'retorno_pelicula': 1.30961135,
   'budget_pelicula': 140000000,
   'revenue_pelicula': 183345589.0},
  {'pelicula': 'Something Evil',
   'anio': 1972,
   'retorno_pelicula': 0.0,
   'budget_pelicula': 0,
   'revenue_pelicula': 0.0}]}